{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Example Page
{% endblock %}


{% block styles %}
    <style type="text/css">
        img.hazy { filter: blur(5px); max-width: 100%;}
        img.hazy:hover { filter: blur(0px);}
        .image-whole {width: 100%; position: relative;}
        .image-row {display: flex; width: 100%}
        .image-cell {flex-basis: auto; flex-shrink: 1;}
    </style>
{% endblock %}


{% block content %}

    <div class="image-whole">
        <div class="image-row">
        {% for image in images %}
            <div class="image-cell">
                <img src="{{image.path}}" class="hazy" />
            </div>
            {% if image.brnext %}
         </div>
         <div class="image-row">
            {% endif %}
        {% endfor %}
        </div>
    </div>
    {% next_button %}

{% endblock %}
