{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Example Page
{% endblock %}


{% block styles %}
    <style type="text/css">
        img.hazy { filter: blur(5px); max-width: 100%;}
        img.hazy:hover { filter: blur(0px);}
        .image-whole {width: 100%; position: relative;}
        .image-parts {width: 100%; position: absolute; top: 0; left: 0;}
        .image-row {display: flex; width: 100%}
        .image-cell {flex-basis: auto; flex-shrink: 1;}
    </style>
{% endblock %}


{% block content %}

    <div class="image-whole">
        <img src={{whole_image.path}} class="image hazy">
        <div class="image-parts">
        <div class="image-row">
        {% for image in images %}
            <div class="image-cell">
                <img src="{{image.path}}" class="hazy region" id={{forloop.counter}} />
            </div>
            {% if image.brnext %}
         </div>
         <div class="image-row">
            {% endif %}
        {% endfor %}
        </div>
        </div>
    </div>
    {% next_button %}

{% endblock %}


{% block scripts %}
<script type="text/javascript">
jQuery(document).on('mouseover','.region', function(e){

liveSend({'region': e.currentTarget.id, 'action': 'enter', 'timestamp': Date.now()});
    
});

jQuery(document).on('mouseout','.region', function(e){

liveSend({'region': e.currentTarget.id, 'action': 'exit', 'timestamp': Date.now()});
    
});

function liveRecv(payload){ console.log(payload)};
</script>
{% endblock %}
