{% extends "global/Page.html" %}
{% load otree static mousetracking_extras %}

{% block app_styles %}
    <style type="text/css">
        img.blurred { filter: blur(5px); max-width: 100%;}
        .mousetracking-stimulus {width: 100%; position: relative;}
        .image-parts {width: 100%; position: absolute; top: 0; left: 0;}
        .image-row {display: flex; width: 100%}
        .image-cell {flex-basis: auto; flex-shrink: 1;}
        .region {max-width: 100%; opacity: 0;}
        .region:hover { opacity: 1;}
    </style>
{% endblock %}


{% block app_scripts %}
<script type="text/javascript">
	jQuery(document).on('mouseover','.region',
			function(e){
				liveSend({'region': e.currentTarget.id, 'stimulus': e.currentTarget.getAttribute('data-stimulus') , 'action': 'enter', 'timestamp': Date.now()});
			});
    jQuery(document).on('mouseout','.region',
			function(e){
				liveSend({'region': e.currentTarget.id, 'stimulus': e.currentTarget.getAttribute('data-stimulus'), 'action': 'exit', 'timestamp': Date.now()});
			});
    function liveRecv(payload){ console.log(payload) };
</script>
{% endblock %}
